<tui-root>
  <div class="container">
    <form>
      <tui-input [formControl]="searchQuery">
        Search...
        <input
          tuiTextfield
          type="text"
        />
      </tui-input>
    </form>
    <p
      class="text"
      appSearch
      [searchQuery]="searchQuery"
      [color]="color"
    >
      Lorem ipsum dolor sit Aet consectetur adipisicing elit. l Iusto, odit quas Accusamus autem dignissimos temporibus vel praesentium quisquam est sint exercitationem ad harum accusantium cupiditate ea modi aspernatur! Et, sapiente.
    </p>
  </div>
</tui-root>
